$fontG: 'Graduate', sans-serif;
$fontE: 'Edu QLD Beginner', sans-serif;
$fontS: 'Share Tech Mono', sans-serif;

.title {
	font: 400 36px $fontG;
	font-family: 'Graduate', sans-serif;
	padding: 24px 0;
}

.card {
	padding: 16px 0 0 0;
	border-radius: 8px;
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

	.type {
		text-align: center;
		padding: 0 16px;
		font: 400 12px $fontG;
	}
	.tech {
		color: #070532;
		text-align: center;
		padding: 0 16px;
		font: 400 16px $fontE;
		//text-transform: uppercase;
	}
	.title {
		margin: 16px 0;
		padding: 0 16px;
		text-align: center;
		font: 900 24px $fontG;
		letter-spacing: -1px;
	}
	.description {
		text-align: center;
		padding: 0 16px;
		font: 400 14px $fontS;
		letter-spacing: -0.5px;
	}
	.buttons {
		display: flex;
		margin-top: 16px;
		.deploy {
			border-radius: 0 0 0 8px;
			display: flex;
			width: 100%;
			align-items: center;
			justify-content: center;
			gap: 8px;	
			font: 400 14px $fontS;
			padding: 12px;
			background-color: darken(#6BD5FF, 15%);
			color: white;
			text-transform: uppercase;
			&:hover {
				background-color: #6BD5FF;
			}
		}
		.repo {
			border-radius: 0 0 8px 0;
			display: flex;
			width: 100%;
			align-items: center;
			justify-content: center;
			gap: 8px;
			font: 400 14px $fontS;
			padding: 12px;
			background-color: #051932;
			color: white;
			text-transform: uppercase;
			&:hover {
				background-color: lighten(#051932, 15%);
			}
		}
	}
}